langchain
langchain-community
langchain-core
langchain-experimental
langchain-unstructured
langchain-aws
langchain-chroma
langchain-openai
langchain-huggingface
chromadb
faiss-cpu

ragas
python-dotenv
boto3
ipykernel
tqdm
pdf2image